<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>Login.Web</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Home
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/counter"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-education'></span> Counter
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]' *ngIf="isAuthorized">
              <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Fetch data
              </a>
            </li>
            <li *ngIf="checksession">
              <a [routerLink]='["/check-session"]' (click)='refreshSession()'>
                <span class='glyphicon glyphicon-th-list'></span> Check Session
              </a>
            </li>
            <li *ngIf="!isAuthorized">
              <a [routerLink]='["/login"]' (click)='login()'>
                <span class='glyphicon glyphicon-th-list'></span> Login
              </a>
            </li>
            <li *ngIf="isAuthorized">
              <a [routerLink]='["/logout"]' (click)='logout()'>
                <span class='glyphicon glyphicon-th-list'></span> Logout
              </a>
            </li>

          </ul>
        </div>
    </div>
</div>
